.gallery {
  display: grid;
  gap: 10px 20px; 
  grid-template-columns: auto auto;
  place-items: center;
	position: relative;
}

.gallery > span {
  width: 300px; /* control the size */
  transition: .35s;
  cursor: pointer;
}

.gallery img {
	aspect-ratio: 1;
  object-fit: cover;
	filter: grayscale();
}

.gallery img:hover {
  filter: grayscale(0%);
}

.gallery > span:nth-child(1) {
  clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
}
.gallery > span:nth-child(2) {
  clip-path: polygon(0 0,100% 0,50% 100%);
	position: absolute !important;
	top: 0;
}
.gallery > span:nth-child(3) {
  clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
}
.gallery > span:nth-child(4) {
  clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}
.gallery > span:nth-child(5) {
  clip-path: polygon(50% 0,100% 100%,0% 100%);
	position: absolute !important;
	bottom: 0;
}
.gallery > span:nth-child(6) {
  clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
}